
.text-center {
  color: #000;
  font: 1.5em Georgia, serif;
}
body {
  background-color: #cfe2ff71;
}
.item-category {
  font-size: 15px;
  margin-top: 5px;
}
.title {
  font-size: 20px;
  
}
.item-title{
  color: #000;
}
.cendy {
  font-size: 20px;
}
.item-num{
  left: 0;
  background-color: #0000ff;
  border-radius: 50px;
}
.collapse{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.search-form{
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}